Debug
/reshoot/ipch/reshoot-11595e03
/reshoot/reshoot/Log.txt
/reshoot/reshoot.sdf
/reshoot/reshoot.suo
/reshoot/reshoot/reshoot.vcxproj.filters
/reshoot/reshoot/reshoot.vcxproj.user
ipch
data
/reshoot/reshoot.opensdf
